In [11]:
#1.	Construct 2 lists containing all the available data types  (integer, float, string, complex and Boolean) and do the following..
#a.	Create another list by concatenating above 2 lists
lst1=['Rambabu', 45.78, 23, False]
lst2=['shambabu',76.43,23,True]
lst1=lst1+lst2
lst1

['Rambabu', 45.78, 23, False, 'shambabu', 76.43, 23, True]

b.	Find the frequency of each element in the concatenated list.

In [15]:
for i in lst1:
    print(lst1.count(i))

1
1
2
1
1
1
2
1

In [21]:
#c.	Print the list in reverse order.
     lst1.reverse()

In [22]:
print(lst1)

[True, 23, 76.43, 'shambabu', False, 23, 45.78, 'Rambabu']

2.	Create 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in other set)
a.	Find the common elements in above 2 Sets.
b.	Find the elements that are not common.
c.	Remove element 7 from both the Sets.

In [23]:
#a.	Find the common elements in above 2 Sets.
s1={1,2,3,4,5,6,7,8,9,10}
s2={5,6,7,8,9,10,11,12,13,14,15}
z= s1.intersection(s2) 
print(z)

{5, 6, 7, 8, 9, 10}

In [25]:
#b.	Find the elements that are not common.
z=s1.difference(s2)
print(z)

{1, 2, 3, 4}

In [27]:
#Remove element 7 from both the Sets.
a=s1.discard(7)
print(s1)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [28]:
b=s2.discard(7)
print(s2)

{5, 6, 8, 9, 10, 11, 12, 13, 14, 15}

3.	Create a data dictionary of 5 states having state name as key and number of covid-19 cases as values.
a.	Print only state names from the dictionary.
b.	Update another country and itâ€™s covid-19 cases in the dictionary.

In [29]:
#Print only state names from the dictionary cases are lakh.
dict={'Maharashtra':77.5,'Kerala':'63.5','Karnataka':34.5,'Tamil Nadu':33.8,'Andhra Pradesh':22.9}
print(dict.keys())

dict_keys(['Maharashtra', 'Kerala', 'Karnataka', 'Tamil Nadu', 'Andhra Pradesh'])

In [42]:
dict1={'Maharashtra':77.5,'Kerala':'63.5','Karnataka':34.5,'Tamil Nadu':33.8,'Andhra Pradesh':22.9}
dict2={'California':85.6,'Texas':'63.1','Florida':55.9,'New York':48.1,'llinios':42.9}

In [44]:
dict3=dict1.copy()
for key,value  in dict2.items():
    dict3[key]=value
print(dict3)

{'Maharashtra': 77.5, 'Kerala': '63.5', 'Karnataka': 34.5, 'Tamil Nadu': 33.8, 'Andhra Pradesh': 22.9, 'California': 85.6, 'Texas': '63.1', 'Florida': 55.9, 'New York': 48.1, 'llinios': 42.9}